:root{
    --pink:#01707c;
} 

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}
html{
    font-size: 62.5%;
    height: 100vh;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}


header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #dcdcdcb3;
    padding: 1rem 7%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 .25rem 0.5rem rgba(0, 0, 0, .1);

}
 header .logo{
     font-size:1.5rem ;
     color: #333;
     font-weight: bolder;
    text-decoration: none;
 }

 header .logo span{
     color: var(--pink);

 }
header .navbar a{
   font-size: 1rem;
   padding: 0 0.75rem;
   color: #666;
   text-decoration: none;
}
header .navbar a:hover{
   color: var(--pink);
}
header .icons{

width:30%;
 
}

header .icons a{
   font-size: 1rem;
   color: #333;
   margin-left: 0.75rem;

}

header .icons a:hover{
   color: var(--pink);
}

header #toggler{
   display: none;
}

header .fa-bars{
   font-size: 1.5rem;
   color:#333 ;
   border-radius: 0.25rem;
   padding: 0.25rem 0.75rem;
   cursor: pointer;
   border: .1rem solid rgba(0, 0, 0, .3);
   display: none;

}



.carousel-inner{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    
}

.carousel-item{
    height: 100vh;
    min-height: 0.5rem;
    background: no-repeat scroll center;
    -webkit-background-size: cover ;
    background-size: cover;

}

.carousel-caption .logo{
    width: 10rem;
    height: 7.5rem;
    position: absolute;
    top: 1rem;
    left: 35rem;
}

.carousel-item::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0.05;
}
#carousel-item-home{
    bottom: 5rem;
    left: -30rem;
    transition: 0.2s linear;
    --bs-gutter-x: 0.75rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);

}

.carousel-caption{
    bottom: 10rem;
    padding-left: 5rem; 
    padding-right: 5rem;
    bottom: 1.5rem;
    left: -32.5rem;

}

.carousel-item h1{
    font-size: 4.5rem;
    font-family: cursive;
    font-weight: 400;
    color: #a59694b9;
    -webkit-text-stroke: 0.3vw var(--pink);
    text-transform: uppercase;
    
}

.carousel-item h3{
    -webkit-text-stroke: 0.3vw var(--pink);
    display: inline-block;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    font-size: 3.5rem;
    font-weight: 500;
    font-family: cursive;
}

.slider-btn .btn{
    display: inline-block;
    margin-top: 0.5rem;
    border-radius: 2.5rem;
    background: #333;
    color: #fff;
    padding: .45rem 1.75rem;
    cursor: pointer;
    font-size: 0.85rem;

}

.btn:hover{
    color: #333;
    background-color: var(--pink);
}


.carousel-caption .paragraph{
    font-size:1rem;
    top: 1rem;
    color:var(--pink);

}

@media(max-width:991px){
    html{
        font-size: 55%;

    }
    header{
        padding: 1rem;
    }

    section{
        padding: 1rem;
    }
    .home{
        background-position: left;
    }
    
.carousel-item h1{
    font-size: 3rem;
    font-weight: 300;
}

.carousel-item h3{
    font-size: 3.5rem;
    font-weight: 200;
}

}

@media(max-width:768px){
    header .fa-bars{
        display: block;
    }
    header .navbar{
        position: absolute;
        top:100%; left: 0; right: 0;
        background: #eee;
        border-top: .05rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0% 0%, 100% 0% , 100%  0% , 0% 0%);
    }
    header #toggler:checked ~.navbar{
        clip-path: polygon(0% 0%, 100% 0% , 100%  100% , 0% 100%);

    }

    header .navbar a{
        margin: 0.75rem;
        padding: 0.75rem;
        background: #fff;
        border: .05rem solid rgba(0, 0, 0, .1);
        display: block;
    }
    .home .content h3{
        font-size: 2.5rem;
    }
    .home .content span{
        font-size: 1.25rem;
    }
     
    .home{
        background-size:cover;

    }

.carousel-item h1{
    font-size: 2.5rem;
    font-weight: 100;
}

}