:root{
    --pink:#01707c;
} 

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}
html{
    font-size: 62.5%;
    height: 100vh;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}


header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #dcdcdcb3;
    padding: 2rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

}
header .logo{
     font-size:3rem ;
     color: #333;
     font-weight: bolder;
    text-decoration: none;
 }

header .logo span{
     color: var(--pink);

 }
header .navbar a{
   font-size: 2rem;
   padding: 0 1.5rem;
   color: #666;
   text-decoration: none;
}
header .navbar a:hover{
   color: var(--pink);
}
header .icons a{
   font-size: 3rem;
   color: #333;
   margin-left: 1.5rem;
}
header .icons a:hover{
   color: var(--pink);
}
header #toggler{
   display: none;
}
header .fa-bars{
   font-size: 3rem;
   color:#333 ;
   border-radius: .5rem;
   padding: .5rem 1.5rem;
   cursor: pointer;
   border: .1rem solid rgba(0, 0, 0, .3);
   display: none;
}
/*********** end nav ***************/

.small-container{
    max-width: 900px;
    margin: auto;
    padding-left:25px ;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.single-product{
    margin-top: 80px;
}

.small-img-row{
    display: flex;
    justify-content: space-around;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

.single-product .col-2 img{
    padding: 0;
}

.single-product .col-2{
    padding: 20px;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.info{
    background: rgb(238, 237, 237);
    height: 150%;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    font-weight: 600;
}
.single-product select{
    display: block;
    padding: 10px;
    margin: 20px 0;
    font-size: larger;
    color:var(--pink);
    background-color: rgb(218, 218, 218);
}
label{
    color: #01707c;
    font-size:15px ;


}

.single-product select option{
    color: #fff;
    background-color:#666;
}
.single-product select option:hover{
    background-color:var(--pink);
}

.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
    color: var(--pink);
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #666;

}
p{
    font-size: 15px;
}
input:focus {
outline: none;
}

.single-product .fas{
    color: var(--pink);
    font-size: 25px;
    text-decoration: none;
    margin-left: 10px;
    
}



button {
  padding: 10px;
    margin-top: 40px;
    text-align: center;
    color: white;
    font-size: 18px;
    cursor: pointer;
    background-color: var(--pink);

}

.single-product .fas:hover{
    color: #666;
}
    button:hover{
    color: white;
    background-color: var(--pink);
    background: #666;

}























@media(max-width:991px){
    html{
        font-size: 55%;

    }
    header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }
    .home{
        background-position: left;
    }
    
.carousel-item h1{
    font-size: 6rem;
    font-weight: 300;
}

.carousel-item h3{
    font-size: 7rem;
    font-weight: 200;
}
}






















@media(max-width:768px){
    header .fa-bars{
        display: block;
    }
    header .navbar{
        position: absolute;
        top:100%; left: 0; right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0% 0%, 100% 0% , 100%  0% , 0% 0%);
    }
    header #toggler:checked ~.navbar{
        clip-path: polygon(0% 0%, 100% 0% , 100%  100% , 0% 100%);

    }

    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
    }
    .home .content h3{
        font-size: 5rem;
    }
    .home .content span{
        font-size: 2.5rem;
    }
     
    .home{
        background-size:cover;

    }

.carousel-item h1{
    font-size: 5rem;
    font-weight: 100;
}

}